//
// Slick Slider Custom Styles (overrides slick-theme.css) from node_modules
//

.slick-loading .slick-list {
  background: none !important;
}

.slick-initialized .slick-slide {
  display: flex !important;
}

.slick-slide {
  float: none;
}

.slick-slide>div {
  width: 100%;
}

@media only screen and (min-width: 960px) {
  .slick-list {
    cursor: grab;
  }

  .slick-list:active {
    cursor: grabbing;
  }
}

.slick-prev,
.slick-next {
  display: flex !important;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: flex;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 100;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  //color: transparent;
  outline: none;
  //background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: flex !important;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  margin: 0 .35rem;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: flex;
  width: 1rem;
  height: 1rem;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0.75rem;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
  content: '';
  text-align: center;
  opacity: .25;
  background: #3C4858;
  border-radius: 50%;
  transition: all .2s ease-in-out;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3C4858;
}

.slick-slider {
  width: 100%;
  max-width: 1366px;
  height: 172px;
  text-align: center;
  box-shadow: 0 .125rem .25rem rgba(31, 45, 61, .08) !important;
}

.slider-item img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 172px;
  object-fit: cover;
}

.slider-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  max-width: 1366px;
}

.slider_overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3340FF;
  opacity: 0.34;
}

.fit-cover {
  object-fit: cover;
}

.slick-slider .info>div {
  display: inline-flex !important;
}

.slick-slider,
.slick-track,
.slick-list,
.slick-track {
  display: flex !important;
  width: 100%;
  border-radius: 0.35rem;
}

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active.slick-current .fenzo_slider__content,  .slick-active.slick-current .slide__content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
}


//
// Fenzo Slick Slider Styles
//

.slick-slider {
  width: 100%;
  max-width: 1366px;
  height: 172px;
  text-align: center;
  color: #F8F8FB;
  background: #3d4565;
  box-shadow: 0 .125rem .25rem rgba(31, 45, 61, .08) !important;
}

.chakra-ui-dark .slick-slider {
  background: #1c2239;
}

.slider-item img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 172px;
  object-fit: cover;
}

@media only screen and (min-width: 960px) {
  .flex-container {
    margin: 2.5rem auto;
  }

  .slick-slider {
    height: 448px;
  }

  .slider-item img {
    width: 100%;
    height: 448px;
  }
}

.slider-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  max-width: 1366px;
}

.slider-overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3340FF;
  opacity: 0.3;
}

.slick-slider,
.slick-track,
.slick-list,
.slick-track {
  display: flex !important;
}

.fit-cover {
  object-fit: cover;
}

.slick-slider .info {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 100vh;
  text-align: center;
  z-index: 10;
}

.slick-slider .info>div {
  display: inline-flex !important;
}

.slick-slider,
.slick-track,
.slick-list,
.slick-track {
  display: flex !important;
  width: 100%;
}

/** Slider Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Home Slider */
.fenzo_slider__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.fenzo_slider__wrapper.no-bg {
  width: auto;
}

.slider-item .fenzo_slider__wrapper {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.fenzo_slider {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fenzo_slider__content {
  text-align: left;
  justify-self: flex-start;
  padding: 20px 0 20px 80px;
  z-index: 100;
}

.fenzo_slider.bg_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

.fenzo_slider__content .info-heading,
.fenzo_slider__content .btn {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.fenzo_slider__title_upper {
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: .035rem;
}

.fenzo_slider__title {
  max-width: 70%;
}

.fenzo_slider.bg_cover .fenzo_slider__content .info-heading {
  color: #fff !important;
}

.fadeInSlideUp {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .fenzo_slider__content {
      height: auto;
  }

  .fenzo_slider__wrapper, .slick-slider {
      height: 360px;
  }

  .slick-prev, .slick-right {
    left: -10px;
  }
}

@media (max-width: 1400px) {
  .slick-prev, .slick-right {
    left: -10px;
  }
}

@media screen and (max-width: 768px) {
  .fenzo_slider__wrapper {
    max-height: 180px;
  }

  .fenzo_slider__wrapper.no-bg {
    width: 100%;
  }

  .fenzo_slider__content {
    padding: 15px 30px 15px 30px;
    max-height: 100%;
  }

  .fenzo_slider.bg_cover {
    background-position: 0 50%;
  }

  .fenzo_slider__title_upper {
    font-size: 85% !important;
    margin-bottom: 0.35rem !important;
  }

  .fenzo_slider__title {
    max-width: 72%;
    font-size: 1.5rem !important;
    line-height: 1.2;
    margin-top: 0.35rem !important;
    margin-bottom: 0.35rem !important;
  }

  .fenzo_slider__subtitle {
    font-size: 1rem !important;
    margin-bottom: 0 !important;
  }

  .fenzo_slider__content button {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: auto;
    bottom: 60px;
    right: 25px;
  }

}

.slick-slider.slider-dark .slick-dots {
  bottom: 1.8rem;
}

.slick-slider.slider-dark .slick-dots li button:before {
  background: #ffffff;
}

.slick-slider.slider-dark .slick-dots li.slick-active button:before {
  color: #ffffff;
}

//
// Service Slider
//
.service_slider {
  position: relative;

  .slick-slide {
    background-color: none;
    width: 300px !important;
    max-height: 150px !important;
    min-height: 150px;
    border-radius: 0.25rem;
  }

  .service__slide {
    width: 300px;
    height: 150px;
    margin-right: 15px;
    border-radius: .25rem !important;
  }

  .service__slider-icon {
    margin-bottom: 1.5rem;
  }

  .slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: 150px;

  }

  .slick-slide>div {
    width: 300px !important;
  }

  .slick-slider {
    text-align: left !important;
    height: 150px !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .slick-slider .slick-slide {
    margin-right: 15px;
  }

  .slider-item {
    display: inline-block !important;
    justify-content: space-around !important;
    width: 300px !important;
    min-width: 300px !important;
    height: 150px !important;
  }

  .slick-slider,
  .slick-track,
  .slick-list,
  .slick-track {
    border-radius: 0.25rem;
  }
}

@media only screen and (min-width: 960px) {
  .service_slider {
    .slick-slider {
      height: 150px !important;
    }
  }
}