.fenzo-services__container {
  display: flex;
}

.fenzo-services {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 1366px;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 54px;
}

.fenzo-service-card {
  display: inline-flex;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.35rem;
  background: #f5f8fa;

  a {
    display: inline-flex;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1025px) {
  .fenzo-services {
    overflow-y: hidden;
  }
  .fenzo-service-card {
    min-width: 200px;
  }
}

.service-card__figure {
  display: flex;
  align-items: center;
  margin-right: .75rem;
}

.service-card__figure svg {
  display: inline-flex !important;
  width: 36px;
  height: 36px;
  align-self: center;
}

.service-name {
  line-height: 1 !important;
}
