//
// Navbar Desktop styles
//

.responsive-header {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  flex-direction: column;
  width: 100vw;
  height: 80px;
  background-color: #fff;
  /*box-shadow: inset 0 -1px 0 #dcdcdc;*/
  border-bottom: 1px solid #f1f4f8;
  box-shadow: 0px 0.25rem 0.75rem 0px rgba(190, 194, 255, 0.18);
  top: 0;
  z-index: 9997;
  padding: 0;
}

.responsive-header--static {
  position: relative;
}

@media only screen and (min-width: 960px) {
  .responsive-header {
    display: flex;
  }
}

.responsive-header__container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1366px !important;
  margin: auto;
  padding: 0 20px;
}

@media only screen and (min-width: 960px) {
  .responsive-header__container {
    padding: 0 20px 0 20px;
  }
}

.responsive-header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 164px;
  height: 55px;
  min-width: 164px;
}

.responsive-header__logo .btn-icon {
  border-radius: 0;
  width: 87px;
  height: 66px;
}

.responsive-header__logo .btn-icon .icon-fenzo {
  width: 100%;
  height: 100%;
}

.responsive-header__logo .btn-icon .icon-fenzo svg {
  color: #1652F0;
  fill: #1652F0;
}

.responsive-header .btn.btn--link svg {
  color: #3e3e3e;
  fill: #3e3e3e;
}

.responsive-header .btn.btn--link:hover [class*='__label'] {
  color: #1652F0;
}

.responsive-header .btn.btn--link:hover svg {
  color: #1652F0;
  fill: #1652F0;
}

.responsive-header .btn.btn--iconize .btn__icon {
  border-radius: 0;
  width: 23px;
  height: 23px;
}

.responsive-header__button {
  width: inherit;
  padding: 0;
  min-width: 50px;
  cursor: pointer;
  display: flex;
}

.responsive-header__button .icon-fenzo {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}

.responsive-header__button .btn__label {
  display: none;
  font-size: 1rem;
  margin-left: 3px;
  color: #3e3e3e;
  font-weight: 400;
}

@media only screen and (min-width: 1248px) {
  .responsive-header__button .btn__label {
    display: flex;
  }
}

.responsive-header__button .floating-box__label {
  display: none;
}

@media only screen and (min-width: 1248px) {
  .responsive-header__button .floating-box__label {
    display: block;
  }
}

.responsive-header .header-cart__label--wide {
  display: none;
}

@media only screen and (min-width: 1248px) {
  .responsive-header .header-cart__label--wide {
    display: flex;
  }
}

.responsive-header__bag~.floating-box__wrapper .restaurant-cart {
  max-height: 80vh;
}

.responsive-header__bag~.floating-box__wrapper .restaurant-cart__empty {
  padding: 40px 0;
}

.responsive-header__wrapper-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (min-width: 1248px) {
  .responsive-header__wrapper-links>* {
    margin: 0 0 0 20px;
  }
}

.responsive-header__logo {
  svg {
    width: 164px;
    height: 55px;
    max-height: 55px;
  }
}

.responsive-header__logo {
  &.icon-app {
    svg {
      max-height: 35px;
      path {
        color: #0033FF;
        fill: #0033FF;
      }
    }
  }
}

.responsive-header__toggle-menu .btn.btn--iconize .btn__icon {
  width: 36px;
  height: 36px;
}

// Navbar - only centered logo
.responsive-header {
  &.simple-header {
    .search-input {
      display: none;
    }
    .responsive-header__container {
      justify-content: center !important;
    }
    .responsive-header__wrapper-links {
      display: none;
    }
    .responsive-header__telephone {
      display: none;
    }
    .responsive-header__toggle-menu {
      display: none;
    }
  }
}