.flex-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  margin: 50px auto 30px auto;
  padding: 0 20px;
}

.slick-slider {
  width: 100%;
  max-width: 1366px;
  height: 172px;
  text-align: center;
  background: #fafafa;
  box-shadow: 0 .125rem .25rem rgba(31,45,61,.08) !important;
}

.slider-item img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 172px;
  object-fit: cover;
}

@media only screen and (min-width: 960px) {
  .flex-container {
    margin: 50px auto;
  }
  .slick-slider {
    height: 448px;
  }
  .slider-item img {
    width: 100%;
    height: 448px;
  }
}

.slider-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  max-width: 1366px;
}

.slider-overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3340FF;
  opacity: 0.3;
}

.slick-list {
  -webkit-border-radius: .35rem;
  border-radius: .35rem;
}

.slick-slider, .slick-track, .slick-list, .slick-track {
  display: flex !important;
}

.fit-cover {
  object-fit: cover;
}

.slick-slider .info {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 100vh;
  text-align: center;
  z-index: 10;
}

.slick-slider .info > div {
  display: inline-flex !important;
}

.slick-slider, .slick-track, .slick-list, .slick-track {
  display: flex !important;
  width: 100%;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}
